.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* app */
.components {
  display: flex;
}
.follower-components {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid red;
}
.followtitle {
  width: 100%;
}

/* user */
.userDiv {
  border: 2px solid red;
  width: 20%;
}
.user-img {
  width: 100%;
}

/* follower */
.follower-img {
  width: 30%;
}
.followerDiv {
  border: 2px solid red;
  width: 20%;
}
